
<section class="event-hero event-hero--slider">

    <div class="event-hero-content">
        {{!-- <div class="table">
            <div class="vertical-align">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 text-center">
                            <h1>Amsterdam Music Festival<small>5 unforgettable days</small></h1>
                            <a href="" class="button button--outline button--hero">ticket&hotel</a>
                            <a href="" class="button button--outline button--hero">Premium <span>Packages</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>
    <!-- slider -->
    <div class="ea-detail-slider">
        <div id="layerslider" class="layerslider" style="width:100%; height:100%;">     
            
             {{!-- <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
                <img src="{{assets}}/img/edm/slide-1.jpg" class="ls-bg" alt="">
                <h1 class="ls-l ea-offer-bigtext" style="top: 40%;" data-ls="offsetxin:0;durationin:2000;delayin:200;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:200;durationout:1000;">AfroJack<small>LAS VEGAS 14 december</small></h1>
            </div> --}}

        

            <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
            <img src="{{assets}}/img/asot/slider-1.jpg" class="ls-bg" alt="">
            <h1 class="ls-l ea-offer-bigtext" style="top: 40%;" data-ls="offsetxin:0;durationin:2000;delayin:200;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">15 years of unity<small>Come celebrate with us</small></h1>
        </div>

        <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
            <img src="{{assets}}/img/asot/slider-2.jpg" class="ls-bg" alt=""> 
            <h1 class="ls-l ea-offer-bigtext" style="top: 40%;" data-ls="offsetxin:0;durationin:2000;delayin:200;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:200;durationout:1000;">Text goes here<small>Effect no.3</small></h1>
        </div>

        <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
            <img src="{{assets}}/img/asot/slider-3.jpg" class="ls-bg" alt=""> 
            <h1 class="ls-l ea-offer-bigtext" style="top: 40%;" data-ls="offsetxin:0;delayin:200;rotatein:90;transformoriginin:right bottom 0;offsetxout:0;durationout:1000;transformoriginout:right bottom 0;">Text goes here<small>Effect no.4</small></h1>
        </div>

        <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
            <img src="{{assets}}/img/asot/slider-4.jpg" class="ls-bg" alt=""> 
            <h1 class="ls-l ea-offer-bigtext" style="top: 40%;" data-ls="offsetxin:-100;durationin:750;delayin:200;easingin:easeOutBack;skewxin:-50;offsetxout:100;durationout:600;;easingout:easeInBack;skewxout:50;">Text goes here<small>Effect no.5</small></h1>
        </div>

        <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
            <img src="{{assets}}/img/asot/slider-5.jpg" class="ls-bg" alt=""> 
            <h1 class="ls-l ea-offer-bigtext" style="top: 40%;" data-ls="offsetxin:0;rotatexin:-70;scalexin:3;scaleyin:3;offsetxout:0;durationout:2000;rotatexout:70;scalexout:0.5;scaleyout:0.5;">Text goes here<small>Effect no.6</small></h1>
        </div>

            {{!-- <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
                <img src="{{assets}}/img/flyingdutch/slider-4.jpg" class="ls-bg" alt="">
            </div>

            <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
                <img src="{{assets}}/img/flyingdutch/slider-5.jpg" class="ls-bg" alt="">
            </div>

            <div class="ls-slide" data-ls="slidedelay: 3000; transition2d:12;">
                <img src="{{assets}}/img/flyingdutch/slider-6.jpg" class="ls-bg" alt="">
            </div> --}}

        </div>
    </div>
    <!-- end slider -->
</section>