<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title}}</title>
	<link href="{{assets}}/css/styles.min.css" rel="stylesheet">
	{{!-- <link href="{{assets}}/img/flyingdutch/favicon-96x96.png?v=2" rel="shortcut icon" type="image/ico" /> --}}

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="{{site.description}}" />
	<meta property="og:url" content="{{site.url}}" />
	<meta property="og:type" content="{{site.type}}" />
	<meta property="og:title" content="{{title}}" />
	<meta property="og:description" content="{{site.description}}" />
	<meta property="og:image" content="{{site.ogimage}}" />
	<meta name="format-detection" content="telephone=no">


	{{!-- <link rel="apple-touch-icon" sizes="57x57" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{assets}}/img/{{site.thema}}/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{assets}}/img/{{site.thema}}/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{assets}}/img/{{site.thema}}/favicons/favicon-96x96.png"> --}}


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		{{> body }}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="{{assets}}/js/app.js"></script>
		<script src="{{assets}}/js/plugins/bootstrap-datepicker.js"></script>

		{{#if map}}
		<script type="text/javascript">
			$(document).ready(function() {
				if ( typeof Maplace == 'function' && $( '#gmap' ) ) {
					new Maplace( gmap_options ).Load();
				};
			});
		</script>
		<script src="{{assets}}/js/plugins/maplace-0.1.3.min.js"></script>
		{{/if}}


		<script src="https://player.vimeo.com/api/player.js"></script>
		
		{{#if slider}}
		<script src="{{assets}}/js/plugins/layerslider/greensock.js" type="text/javascript"></script>
		<script src="{{assets}}/js/plugins/layerslider/layerslider.transitions.js" type="text/javascript"></script>
		<script src="{{assets}}/js/plugins/layerslider/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#layerslider').layerSlider({
					autoStart: true,
					firstLayer: 1,
					navPrevNext: true,
					navButtons: false,
					navStartStop: false,
					pauseOnHover: false,
					imgPreload: true,
					lazyLoad: true,
					touchNav: true,
					thumbnailNavigation: 'disabled',
					skin: 'fullwidth',
					skinsPath: '/assets/js/plugins/layerslider/skins/'
					// Slider options goes here,
					// please check the 'List of slider options' section in the documentation
				});
			});
		</script>
		{{/if}}

		{{#if loader}}
		<script type="text/javascript">
			$(document).ready(function() {
				// PIE loader
				var loader = document.getElementById('loader')
				, border = document.getElementById('border')
				, α = 0
				, π = Math.PI
				, t = 10;

				(function draw() {
					α++;
					α %= 360;
					var r = ( α * π / 180 )
					, x = Math.sin( r ) * 100
					, y = Math.cos( r ) * - 100
					, mid = ( α > 180 ) ? 1 : 0
					, anim = 'M 0 0 v -100 A 100 100 1 ' 
					+ mid + ' 1 ' 
					+  x  + ' ' 
					+  y  + ' z';
					//[x,y].forEach(function( d ){
					//  d = Math.round( d * 1e3 ) / 1e3;
					//});
					loader.setAttribute( 'd', anim );
					border.setAttribute( 'd', anim );
				setTimeout(draw, t); // Redraw
			})();
		});
		</script>
		{{/if}}
	</body>
	</html>
